body{
    display:flex;
    flex-direction:column;
    flex:1;
    margin:0;
    min-height:100vh;
}

a{
    padding:0;
    margin:0;
    text-decoration:none;
    color:#E5E7EB;
    font-size:18px;
}

li{
    display:flex;
    margin:0;
    padding:0;
    list-style-type:none;
}

header{
    background-color:#1F2937;
    display:flex;
    flex-flow: row wrap;
}

header > *{
    flex: 1 100%;
}

ul{
    margin:0;
    padding:0;
    display:flex;
    justify-content:end;    
    align-items:center;
    align-content:center;
    gap: 16px;
}

h1{
    margin:0;
    padding:0;
}

h2{
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;
}

h3{
    font-size:36px;
    color:#1F2937;
    font-weight:900;
}

.subtext{
    font-size:18px;
    color:#E5E7EB;
}

button{
    background-color:#3882F6;
    color:#F9FAF8;
    font-size:16px;
    padding: 8px 20px;
    border-radius:12px;
    border:0;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
}

.header-content{
    background-color:#1F2937;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.nav{
    flex:2 0px;
    display:flex;
    justify-content:space-around;
}
.main-img{
    margin: 39.84px 0px;
    max-width:800px;
    max-height:400px;
}

.cards{
    display:flex;
    justify-content:space-evenly;
    color:#1F2937
}

.card{
    flex:1;
}

.content{
    text-align:center;
}

.illustration{
    border: 3px solid #3882F6;
}

.quote{
    background-color:#E5E7EB;
    display:flex;
}

.cite{
    align-self:end;
    margin:0;
    margin-bottom:20px;
    font-size:20px;
    color:#1F2937;
    font-weight:bold;
}

.quote-cite{
    display:flex;
    flex-flow:column;
    width:50%;
    margin:auto;
    
}

.quote-a{
    font-style:italic;
    font-weight:light;
    font-size:36px;
}

.call{
    display:flex;
    background-color:white;
}

.center-container{
    display:flex;
    width:1500px;
    margin:auto;
    background-color:#3882F6;
    border-radius:12px;
    justify-content:space-around;
    padding:20px;
}

.center-container button{
    background-color:#3882F6;
    color:#F9FAF8;
    font-size:16px;
    padding: 8px 20px;
    border-radius:12px;
    border:2px solid white;
}

.p-block, .call-button{
    display:flex;
    flex-flow:column;
}

.p-block p{
    margin:0;
    padding:0;
    color:white;
    font-size:20px;
}

.p-top{
    font-weight:900;
}

footer{
    display:flex;
    background-color:#1F2937;
    color:#F9FAF8;
    justify-content:center;
}

.nav, .content, .quote, .call{
    flex:1;
    flex-shrink:0;
}